<style type="text/css">
    .dropdown-large {
        position: static !important;
    }

    .dropdown-menu-large {
        margin-left: 16px;
        margin-right: 16px;
        padding: 20px 0px;
    }

    .dropdown-menu-large > li > ul {
        padding: 0;
        margin: 0;
    }

    .dropdown-menu-large > li > ul > li {
        list-style: none;
    }

    .dropdown-menu-large > li > ul > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #333333;
        white-space: normal;
    }

    .dropdown-menu-large > li ul > li > a:hover,
    .dropdown-menu-large > li ul > li > a:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }

    .dropdown-menu-large .disabled > a,
    .dropdown-menu-large .disabled > a:hover,
    .dropdown-menu-large .disabled > a:focus {
        color: #999999;
    }

    .dropdown-menu-large .disabled > a:hover,
    .dropdown-menu-large .disabled > a:focus {
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        cursor: not-allowed;
    }

    .dropdown-menu-large .dropdown-header {
        color: #428bca;
        font-size: 18px;
    }

    @@media (max-width: 768px) {
        .dropdown-menu-large {
            margin-left: 0;
            margin-right: 0;
        }

        .dropdown-menu-large > li {
            margin-bottom: 30px;
        }

        .dropdown-menu-large > li:last-child {
            margin-bottom: 0;
        }

        .dropdown-menu-large .dropdown-header {
            padding: 3px 15px !important;
        }
    }

    #searchInput{       
        float:right;
        width:130px;
        -webkit-transition:width 0.3s ease-in-out;
    }
    #searchInput:focus	{
        -webkit-box-shadow: none;
    	outline: -webkit-focus-ring-color auto 0px;
        width:300px;
        -webkit-transition:width 0.5s ease-in-out;
    }

</style>

@if (Session["IsAuthenticated"] != null && (bool)Session["IsAuthenticated"] == true)
{
    <nav class="navbar navbar-inverse" style="margin-top:11px;border-radius:0px;background-color:#444d58;border:0px;">
        <div class="container">

            <div class="navbar-header" style="padding-top:5px;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbarMenu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-large">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li class="dropdown dropdown-large">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu dropdown-menu-large row">
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">Glyphicons</li>
                                    <li><a href="#">Available glyphs</a></li>
                                    <li class="disabled"><a href="#">How to use</a></li>
                                    <li><a href="#">Examples</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Dropdowns</li>
                                    <li><a href="#">Example</a></li>
                                    <li><a href="#">Aligninment options</a></li>
                                    <li><a href="#">Headers</a></li>
                                    <li><a href="#">Disabled menu items</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">Button groups</li>
                                    <li><a href="#">Basic example</a></li>
                                    <li><a href="#">Button toolbar</a></li>
                                    <li><a href="#">Sizing</a></li>
                                    <li><a href="#">Nesting</a></li>
                                    <li><a href="#">Vertical variation</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Button dropdowns</li>
                                    <li><a href="#">Single button dropdowns</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">Input groups</li>
                                    <li><a href="#">Basic example</a></li>
                                    <li><a href="#">Sizing</a></li>
                                    <li><a href="#">Checkboxes and radio addons</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Navs</li>
                                    <li><a href="#">Tabs</a></li>
                                    <li><a href="#">Pills</a></li>
                                    <li><a href="#">Justified</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">Navbar</li>
                                    <li><a href="#">Default navbar</a></li>
                                    <li><a href="#">Buttons</a></li>
                                    <li><a href="#">Text</a></li>
                                    <li><a href="#">Non-nav links</a></li>
                                    <li><a href="#">Component alignment</a></li>
                                    <li><a href="#">Fixed to top</a></li>
                                    <li><a href="#">Fixed to bottom</a></li>
                                    <li><a href="#">Static top</a></li>
                                    <li><a href="#">Inverted navbar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                
                <div class="nav navbar-nav navbar-right">
                    <form style="float:right;padding-top:2px;" class="navbar-form" role="search">
                        <div class="input-group input-group-sm">
                            <input  id="searchInput" type="text" class="form-control" placeholder="Search" name="q" style="background:#4E5966;border:#4E5966">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" style="background:#4E5966;border:#4E5966"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </nav>
}