<link href="~/Content/bootstrap4.card.css" rel="stylesheet" />
<link href="~/Content/bootstrap.vertical-tabs.min.css" rel="stylesheet" />
<script src="~/scripts/angular.min.js"></script>
<script src="~/scripts/angular-ui-router.min.js"></script>

<script src="~/Modules/Common/directives/Checklist-model.js"></script>
<script src="~/Modules/Administration/RoleSetup/RoleSetup.module.js"></script>
<script src="~/Modules/Administration/RoleSetup/controllers/RoleSetupController.js"></script>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:20px;"></div>

<div data-ng-app="roleSetupApp" data-ng-controller="roleSetupController as vm" class="row">

    <h4>Role Setup</h4>

    <hr />

    <div class="row">

        <div class="col-xs-2" style="padding-right:0px;">
            <ul class="nav nav-tabs tabs-left">
                <li data-ng-repeat="role in vm.RoleList" ng-class="{'active': role.Id === 1}">
                    <a href="#{{role.Id}}" data-toggle="tab">{{role.Name}}</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-10" style="border-top:1px solid #ddd;margin-top:2px;background:#f5f5f5;" ng-style="{'min-height': (vm.RoleList.length*44)  +'px'}">
            <div class="tab-content">
                <div data-ng-repeat="role in vm.RoleList" ng-class="{'active': role.Id === 1}" class="tab-pane" id="{{role.Id}}">

                    <div class="row" style="padding:15px 0px 15px 15px;margin-right:0px;">

                        <div class="card-columns">
                            <div class="card" data-ng-repeat="module in role.ModuleList">
                                <div class="card-block">
                                    <div class="checkbox checkbox-success">
                                        <input id="checkbox{{module.Id}}" class="styled" type="checkbox">
                                        <label for="checkbox{{module.Id}}">
                                            Parent Module
                                        </label>
                                    </div>

                                    <div data-ng-repeat="screen in module.ScreenList" class="card-text">
                                        {{screen.ScreenName}}

                                        <div class="radio radio-info radio-inline">
                                            <label for="inlineRadio1">N</label>
                                            <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked>                                            
                                        </div>
                                        <div class="radio radio-inline">
                                            <label for="inlineRadio1">R</label>
                                            <input type="radio" id="inlineRadio2" value="option2" name="radioInline" checked>                                            
                                        </div>
                                        <div class="radio radio-inline">
                                            <label for="inlineRadio1">W</label>
                                            <input type="radio" id="inlineRadio3" value="option3" name="radioInline" checked>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>

    </div>
</div>
