<link href="~/Content/portlet.card.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-green">
                    <i class="fa fa-tachometer" style="position:relative;bottom:1px;"></i>
                    <span class="caption-subject text-uppercase"> Dashboard</span>
                    <span class="caption-helper">monthly stats...</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-red btn-circle active">
                        <i class="glyphicon glyphicon-paperclip"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-red btn-circle">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-red btn-circle">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-red btn-circle">
                        <i class="glyphicon glyphicon-search"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <h4>Heading Text</h4>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>

