<div class="isotope-item inner-container" data-ng-repeat="item in items">
    <div class="centered-content">
        <img ng-src="{{item.ImageSrc}}" />
        <div style="width:185px;padding-top:10px;word-wrap: break-word">{{item.Id}} : {{item.ImageName}}</div>
        <div style="padding-top:10px;">
            <span style="padding-top: 5px;float:left;color:#999;"> 720 X 578 px  |  456 KB  </span>
            <span style="float:right"><i class="fa fa-external-link-square fa-2x btn-brandshare" aria-hidden="true"></i></span>
        </div>
    </div>
</div>